body {
    font-family: 'Verdana', sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color: #eef2f3;
}

header {
    background-color: #283593;
    color: white;
    padding: 15px;
    font-size: 26px;
}

section {
    margin: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #283593;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #1a237e;
    color: white;
}
