body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #585355, #ff758c);
    color: rgb(199, 34, 34);
}

.content {
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(39, 173, 6, 0.2);
}
